/* Charities */
.charities-container .charity-icon {
    display: inline-block;
}

.charities-container .charity-name {
    vertical-align: middle;
}

.charities-container .widget .widget-content .title {
    display: inline-block;
    font-size: 20px;
}

.charities-container .widget .widget-icon {
    width: 55px;
    height: 55px;
}

.charities-container .widget .widget-icon i {
    line-height: 55px;
}

.charities-container .title-bar-search {
    margin-top: 15px;
}