<div class="alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
    <div class="col-xs-12">
        <div class="alert-container"
             ng-repeat="alert in alerts"
             ng-if="alert.showAlert">
            <alert type="{{alert.type}}"
                   close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </div>
</div>

<div class="charities-container" ng-controller="CharitiesCtrl">
    <div ng-include="'dashboard/templates/charities-list.html'"></div>
</div>

<div ng-include="'dashboard/templates/following-list.html'"></div>